# Cognito — JWKS verification (/protected) + /auth routes
#export AWS_ACCESS_KEY_ID=
#export AWS_SECRET_ACCESS_KEY=
#export AWS_SESSION_TOKEN=

#aws authentication
#COGNITO_REGION=
#COGNITO_USER_POOL_ID=
#COGNITO_APP_CLIENT_ID=

#football API data(just for media and images. Not needed for everything to run)
#FOOTBALL_API_KEY=